{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": ["transform-regenerator"]
    },
    {
      "plugins": ["mobx-deep-action"]
    },
    {
      "plugins": ["babel-plugin-transform-decorators-legacy"]
    },
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-decorators",
    "transform-decorators-legacy",
    "mobx-deep-action",
    "transform-class-properties",
    "react-html-attrs"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
