@import 'nib'
@import 'variables.styl'

// ------- список таблица -----------
.table_list
	width 100%
	box-sizing border-box

.table_list_header
	box-sizing border-box
	text-transform uppercase
	// padding 14px 0 10px 15px
	padding 0 0 0 15px
	background cbgsky
	border-bottom 2px solid cbd

	clearfix()
	// margin -1px -1px 0

	.table_list_cell
		font-size fzn - 6px!important
		font-weight 500!important
		color ctextlight!important
		overflow ellipsis
		padding-top 15px
		padding-bottom 13px
		line-height 1
		a
			color ctextlight!important
			text-decoration none
			display inline-block
			max-width 100%
			overflow ellipsis
			box-sizing border-box
			transition color .2s
			line-height 1
			&:hover
				color clink!important

		[class*="icon-sort"]
			padding-right 20px
			&:before
				float right
				min-width 0
				margin 0 -17px 0 5px

		&.name_search

			input.input_search
				width 90%
				// min-width 150px
				// max-width 100%
				box-sizing border-box
				margin -9px 0 -10px
				vertical-align top
				padding-right 10px
				// &:focus
				// 	width 70%
				&::-webkit-search-cancel-button
					-webkit-appearance searchfield-cancel-button
				cursor pointer
				&.white
					height 28px
					background-color rgba(clink,0.13)
					background-image url(../images/icon_search_input_white.svg)
					background-size 12px auto
					border none
					font-size fzn - 3px
					color #fff
					font-weight normal
					box-shadow none
					&:focus
						background-size 0
						background-color #fff
						color ctext


					&::-webkit-input-placeholder
						color rgba(#fff,0.8)
					&::-moz-placeholder
						color rgba(#fff,0.8)
					&:-ms-input-placeholder
						color rgba(#fff,0.8)!important

					&::-webkit-search-cancel-button
						-webkit-appearance none
					&::-webkit-search-decoration
						-webkit-appearance none
					&::-webkit-search-results-button
						-webkit-appearance none
					&::-webkit-search-results-decoration
						-webkit-appearance none
		&.check
			.label_check
				position relative
				top -4px

.table_list_body
	width 100%

// строка
.table_list_row
	width 100%
	// padding 15px 0 15px 15px
	padding 0 0 0 15px
	box-sizing border-box
	// background cbgsky
	border-bottom 1px dotted cbd
	transition background linear .02s
	clearfix()

	&:nth-child(even)
		// background cbgsky
	// строка помеченная как новая
	&.new
		&:before
			content ''
			position absolute
			width 8px
			height 8px
			border-radius 10px
			background linear-gradient(cl3 + 30%, cl3)
			left -15px
			top 50%
			margin-top -4px
	&.row_new
		background cbgsuccess
		box-shadow inset 2px 0 0 0 cl3
		&:hover
			background cbgsuccess + 30%
	&.row_error
		background cbgerror
		box-shadow inset 2px 0 0 0 cerror
		&:hover
			background cbgerror + 30%

	&.row_active
		background cbghighlight!important
		box-shadow inset 0 0 0 1px cl2!important

	// строка при наведении
	&:hover
		background cbghighlight


	// выделенная строка
	&.row_checked
		box-shadow 0 0 0 1px cl2
		background #fff
		z-index 2
	&.row_link
		cursor pointer

	&.row_title
		background cbgsky!important
		border-bottom none!important
		border-top 1px solid cbdlightsky
		margin-top -1px
		font-weight normal
		.table_list_cell
			float none
			padding-top 8px
			padding-bottom 8px
	.show_all
		position absolute
		right 19px
		top 0
		bottom 0
		display flex
		justify-content space-around
		align-items center
		height 100%
		a
			font-size fzn + 6px
			color cgrey18
			line-height 0
			&:before
				margin 0
				transition transform .2s
			&:hover
				color cgrey50
		&.active
			a:before
				transform scale(-1)

// ячейка
.table_list_cell
	float right
	font-size fzn - 2px
	// padding-right 15px
	padding 15px 15px 15px 0
	box-sizing border-box
	line-height 1.3

	&.last_cell
		padding-right 0

	a
		text-decoration none

	.ms-choice
		font-size fzn - 2px

	.select2, .select2-choice, .select2-chosen
		max-width 100%
	.select2-choice
		overflow ellipsis
		font-size fzn - 2px

	&.name
		overflow ellipsis
		float none
		.name_title
			white-space normal
			word-break break-word
		.name_desc
			font-size fzn - 3px
			color ctextlight
			overflow ellipsis
			max-width 100%
			box-sizing border-box
			margin-top 3px

		&.name_link
			// top -15px
			// left -15px
			// margin-bottom -30px
			// padding 15px
			// padding-right 0
			&:hover
				cursor pointer
				.name_title
					color cl2

		&.icon-warning
			padding-right 30px
			&:before
				color ctextwarning
				position absolute
				right 5px
				top 17px

		.info_label_error
			margin-left 5px

	&.number
		float left

	&.default
		width 110px
		text-align center
	&.action
		width 20px
		text-align right
		box-sizing content-box
		line-height 0
		[class*="icon-"]
			font-size fzn
			color cgrey18
			line-height 0
			&:before
				margin 0
			&:hover
				color cgrey50


	&.check
		width 20px
		box-sizing content-box
		label.label_check.circle
			margin-top 6px
			min-width 20px
			min-height 20px
			.icon
				width 16px
				height 16px

		input[type='checkbox'] + label.label_check.circle .icon:after
			top 2px
			left 2px


	&.date
		color ctextlight
		font-weight 400
		font-size fzn - 4px
	&.summ
		text-align right
		font-size fzn
		.money_income, .money_expense
			display block
			overflow ellipsis
			max-width 100%
		@media screen and (max-width:1150px)
			font-size fzn - 2px
		.summ_small
			font-weight fwn
			padding-top 3px
			font-size fzn - 5px
			color ctextlight
			max-width 100%
			line-height 1
			display block

	&.deadline
		width 95px
		text-align right
	&.status
		width 15%
		min-width 110px
		.thumbs_up, .thumbs_down
			margin-left 3px
		.thumbs_down
			vertical-align -1px
		span.views
			color ctexterror
	&.performer
		width 15%
		min-width 130px
	&.tarif
		width 12%
		min-width 110px
	&.city
		width 15%
		min-width 110px
	&.group
		width 15%
	&.contact
		width 15%
		min-width 100px
		max-width 180px

	.write_now
		position absolute
		right 0px
		bottom 0px
		background linear-gradient(left, rgba(#fff,0) 0%, #fff 30%)
		padding 0 4px 0 10px



.table_list_small
	.table_list_header
		padding-left 10px
		.table_list_cell
			padding 10px 10px 7px 0
	.table_list_row
		padding-left 10px
	.table_list_cell
		padding 10px 10px 10px 0
		&.name
			.input_search
				margin-left -10px
			&.name_link
				top -10px
				left -10px
				margin-bottom -20px
				padding 10px


.table_list_light
	border none
	.table_list_header
		background cbgsky
		border-bottom-color cseparator
		margin 0
		.table_list_cell
			color ctextlight!important
			text-shadow none
			font-weight 500!important
			a
				color clinklight!important
	.table_list_row
		background none
		// border-bottom 1px dotted cbdlightsky
		&:hover
			background cbgsky + 40%
		&.row_checked
			box-shadow none
			background cbghighlight


.table_list_border
	border 1px solid cseparator



.table_list_white
	border none
	.table_list_header
		background none
		border none
		margin 0
		.table_list_cell
			color ctextlight!important
			text-shadow none
			font-weight 400!important
			a
				color ctextlight!important
			&.name_search
				left -15px
				input
					margin -13px 0 -3px

	.table_list_row
		background #fff
		box-shadow 0px 1px 1px 0px rgba(0,0,0,0.12)
		margin-bottom 2px
		border none
		transition background .2s
		&.row_link:hover
			background cbgsky + 30%
			.name, .name_title
				color cl2


// новый вид списка - крупный
.table_list.table_list_big
	.table_list_header
		background #fff
		padding 0 0 0 20px
		display flex
		align-items center
		border-bottom none
		text-transform none
		border-bottom 2px solid cbdlight
		.table_list_cell
			font-size fzn - 3px!important
			color ctextlight!important
			font-weight fwn!important
			padding-top 12px
			padding-bottom 12px


	.table_list_row
		background #fff
		padding 0 0 0 20px
		display flex
		align-items center
		border-bottom 1px solid cgrey09
		&:hover
			background rgba(0,0,0,0.02)
	.table_list_cell
		padding 20px 20px 20px 0
		float none

	.row_date
		background rgba(0,0,0,0.04)
		font-size fzn - 3px
		color ctextlight
		border-bottom none
		&:hover
			background rgba(0,0,0,0.04)
		.name, .summ
			font-size fzn - 3px
		.table_list_cell
			padding-top 10px
			padding-bottom 10px
			font-weight fwn
	.check
		padding-top 18px
	.summ
		font-size 24px
		min-width 230px
		font-weight fwl

		.account
			font-weight fwl
			margin-top 2px
			font-size fzn - 2px
			color ctextlight
			overflow ellipsis
			max-width 100%

	.name
		white-space normal
		width 100%
		.name_title, .contragent
			font-size fzn + 4px
			font-weight fwl
			display inline
			margin-right 10px
		.name_desc
			margin-top 6px
			font-size fzn - 2px
			font-weight fwl
			color ctextlight
		.status
			vertical-align 3px
			margin-left 0px
		.input_search
			border none
			box-shadow none
			height 20px
			background-position 0 center
			padding-left 24px
			&::-webkit-input-placeholder
				color ctextlight
				font-weight fwn
			&::-moz-placeholder
				color ctextlight
				font-weight fwn
			&:-ms-input-placeholder
				color ctextlight!important
				font-weight fwn
			&::-webkit-search-cancel-button
				-webkit-appearance searchfield-cancel-button
				cursor pointer

	.action
		width 45px
		a[class*="icon-"]
			font-size 20px
		a.icon-payment
			font-size 24px






// таблица с группировкой
.table_list_group

	&.group_open
		>.table_list_row
			background none
			border-bottom-color transparent

		.group_name_link
			color cl2
			span
				border-bottom-color cl2
			&:before
				transform rotate(90deg) translateX(2px)


	.table_list_cell.name

		.group_name_link
			max-width calc(100% - 30px)
			display inline-block
			span
				overflow ellipsis
				max-width calc(100% - 19px)
				display inline-block
				vertical-align bottom
			&:before
				transition .3s
		.count
			color ctextlight
		.group_name_edit
			margin-top 0


.table_list_group_content
	padding 5px 10px 15px
	&.ng-animate
		transition .3s
		overflow hidden
	&.ng-hide-add-active
		height 0
		opacity 0
	&.ng-hide-pxove-active
		height auto
		opacity 1

.table_row_info
	padding 40px 0
	.info_center
		width 400px
		margin 0 auto
		color ctextlight
		text-align center
		font-size fzn - 2px

// .table_list_more
// 	padding-left 15px


	// список людей с ролями по группам
.table_list.role_group_list
	.chief
		width 30%
	.action
		width 55px


	// список людей с ролями
.table_list.role_list
	.group
		width 25%
	.role
		width 25%
	.invite
		width 65%
		.info_label
			margin-top -4px
	.action
		width 20px
		box-sizing content-box
	.name_info
		display block
		font-size fzn - 4px
		color ctextlight
		margin 2px 0 0
	.admission
		width 15%









// список транзакций
.table_list.transaction_list
	padding 0

	.name

		.purpose
			margin-top 6px
			font-size fzn - 2px
			color ctextlight

		.invoicing_connect
			display inline-block
			background url(../images/icon_bill_connect.svg) no-repeat 0 0
			width 20px
			height 20px
			vertical-align 2px
			margin 0 0 0 12px
			opacity .5








// .table_list.transaction_list_usn
// 	.summ
// 		width 24%
// 		max-width 215px
// 		min-width 150px
// 		.summ_with_usn
// 			// cursor pointer
// 		.summ_usn
// 			font-weight fwn
// 			padding-top 3px
// 			font-size fzn - 5px
// 			color ctextlight
// 			max-width 100%
// 			display inline
// 			// border-bottom 1px dashed ctextlight + 20%
// 			// cursor pointer
// 			line-height 1
// 			// &:hover
// 			// 	color ctextlight - 30%
// 			// 	border-bottom-color ctextlight - 10%
// 			// 	.money_income, .money_expense
// 			// 		color ctextlight - 30%
// 			.money_income, .money_expense
// 				display inline-block
// 				vertical-align baseline
// 				margin-left 5px
// 				color ctextlight
// 				font-size fzn - 5px


// список контактов
.table_list.contact_list
	padding 0
	.summ
		font-size 22px






.sub_row_group
	display none
	.table_list_row
		background cbgsky - 3%
		&:hover
			background #fff

// вложенная строка
.table_list
	.table_list_row.table_list_subrow
		.table_list_cell.name
			padding-left 50px


// список избранных
.table_list.favorites_list
	.date
		float left
		width 13%
		min-width 70px
		.status
			font-weight fwn
			padding-top 3px


	.summ
		width 20%
		min-width 125px
		font-weight normal
		.account
			font-weight fwn
			padding-top 3px
			font-size fzn - 3px
			color ctextlight
			overflow ellipsis
			max-width 100%


	.contragent
		word-break break-word
		word-wrap break-word
		width 25%
		min-width 100px
	.action
		width 55px
		@media (min-width:1400px)
			width 83px

		.icon-stop
			font-size fzn - 2px
		.icon-favorites-solid
			opacity 1
	.name
		float none
		word-break break-word
		word-wrap break-word
		white-space normal
		a
			display inline-block
			vertical-align top
			max-width calc(100% - 35px)
			br
				display none
			&[contenteditable="true"]
				&:focus
					color ctext
					outline none
					cursor text
					// white-space nowrap
					br
						display none
					// *
					// 	display inline
					// 	white-space nowrap
					& ~ .edit_name
						opacity 0
		.edit_name
			margin-left 10px
			opacity 0
			transition opacity .2s
	.table_list_row:hover
		.edit_name
			opacity 1


// список клиентов в админке
.table_list.clients_list
	.group
		width 15%
	.service
		width 5%
		min-width 35px
		text-align center
	.action
		width 5%
		min-width 35px



// список контрагентов
.table_list.contragents_list
	.to_pay
		width 18%
		max-width 170px
		min-width 110px
		font-weight 400
		text-align right
		overflow ellipsis
		max-width 100%
	.last_paid
		width 19%
		text-align right
		max-width 170px
	.paid_period
		width 18%
		font-weight 400
		max-width 170px
		min-width 110px
		text-align right
		overflow ellipsis
		max-width 100%

// список транзакций у контрагента
.table_list.transaction_list_contragent
	.desc
		width auto
		overflow hidden
		float none
	.summ
		min-width 180px
		font-size fzn + 2px
	.name
		.name_title
		.contragent
			font-size fzn + 2px


// банковская выписка
.statement_list
	.summ
		width 33%
		font-weight normal


// список представителей
.table_list.representatives_list
	.name_title
		color ctext
	.me
		font-weight fwm
	.post
		width 40%
		p
			margin-bottom 3px
	.role
		width 16%
		.form_group
			margin-bottom 10px
	.sign
		width 20%
		line-height 1.2
	.sign_status
		font-size fzn - 4px
		line-height 1.2
		color ctextlight

		a
			text-decoration underline!important
	.invite
		text-align left
		width 56%
		.invite_status
			font-size fzn - 4px
			line-height 1
			color ctextlight
		a
			text-decoration underline
	.emotion
		width 100px
		text-align right
	.action
		padding-right 5px
		opacity 0
	.table_list_row:hover
		.action
			opacity 1

// список новостей в админке для дашборда
.news_dashboard_list
	.name
		font-weight normal
		color clink
	.status
		width 16%
	.people
		width 20%
		min-width 170px
	.read
		width 15%
		min-width 100px
	.date_send
		font-size fzn - 3px
		width 15%
		min-width 120px

// список новостей в админке для дашборда
.news_email_list
	.name
		font-weight normal
		color clink
	.status
		width 18%
		min-width 155px
	.people
		width 18%
		min-width 170px
	.read
		width 10%
		min-width 100px
	.send
		width 10%
		min-width 90px
	.date_send
		font-size fzn - 3px
		width 13%
		min-width 120px

// кол-во просмотров задачи
.views_list
	.group
		width 35%
	.count
		width 15%
		text-align right


// список счетов
.accounts_list
	.balance
		width 20%
	.status
		width 20%
	.type
		width 30%
	.number
		float none

	.account_close
		opacity .5

// зарплатный список html/payroll/payroll_page_list_staff.html
.payroll_staff_list
	.account
		width 185px
	.bank
		width 24%
	.im
		width 16%
	.otch
		width 18%
	.fam
		float none
		overflow hidden
		word-wrap break-word

// список зарплатный ведомостей
.table_list.payroll_list
	padding 0

	.ndfl
		flex 0 0 20%
		text-align right
		min-width 100px
	.payments
		flex 0 0 20%
		text-align right
		min-width 100px


// список сотрудников в создание зарплатной ведомости html/payroll/payroll_page_new.html
.payroll_staff_list_payment
	.summ
		width 13%
		font-size fzn - 2px
		input[type='text']
			width 100%
			text-align right
			font-size fzn - 1px
			margin-top -7px
			margin-bottom -7px
	.status
		width 10%
		text-align right
		&~.bank
			width 22%
	.account
		width 185px
	.bank
		width 26%
	.desc
		width 30%
		padding-right 5px
		.textarea_block
			margin -7px 0
			textarea
				min-height 40px
			.characters_left

				margin-top -10px
				font-size fzn - 6px
				padding 0 3px 3px 0
	.name
		white-space normal
	.check
		float left
	.total
		border-top 2px solid cseparator
		border-bottom none
		text-align right
		margin-top -1px
		background none
		.summ
			width 15%
			display inline-block
			padding 10px 15px 10px 0

			.count
				font-size fzn - 4px
				color ctextlight

// список задач админки
.tasks_list
	.number
		width 80px
	.name_title
		.online
			&:after
				content ''
				width 6px
				height 6px
				border-radius 10px
				display inline-block
				background cl3
				margin-left 4px
				vertical-align middle
	.table_list_cell.status
		width 12%
	.deadline
		.paused
			color ctextdis
		.icon-pause
			&:before
				background cgrey09
				font-size fzn - 8px
				width 16px
				height 16px
				border-radius 14px
				text-align center
				line-height 16px
				color ctextlight
				vertical-align middle