@import 'nib'
@import 'variables.styl'

*
	margin 0
	padding 0
	outline none
body
	background cbglight
	color ctext
	font-size fzn
	font-family ffn

body,html
	min-height 100%

.wrap
	width 800px
	margin 0 auto

.c_light
	color ctextlight
.m_top_20
	margin-top 20px
.m_top_30
	margin-top 30px
.m_top_40
	margin-top 40px

.button
	background cl2
	color #fff
	font-weight fwm
	height 44px
	line-height 42px
	padding 0 40px
	text-transform uppercase
	text-decoration none
	border none
	display inline-block
	font-size fzn - 2px
	letter-spacing .5px
	border-radius brbut
	cursor pointer
	box-sizing border-box
	vertical-align top
	&:hover
		background-color cl2 + 5%
	&.small
		height 38px
		line-height 38px
		font-size fzn - 4px
		padding 0 20px
	&.light
		border cgrey50
		background transparent
		color ctext
		&:hover
			border-color ctext
		&.small
			line-height 36px
	&.tinkoff
		background-color #FFDE41
		color ctext
.small_text
	font-size fzn - 4px
	color ctextlight
	line-height 1.3
	p
		margin 0 0 5px

header
	padding 24px 0
.logo
	position relative
	display inline-block
	width 151px
	height 28px
	background url(../images/logo.svg) no-repeat 0 0
	background-size 100% auto
	text-indent -10000em
.header_buttons
	float right
	margin-top -5px
	text-align right
.header_buttons_text
	display inline-block
	margin 10px 10px 0 0
	color ctextlight
	font-size fzn - 2px

section
	background #fff
	box-shadow 0px 2px 4px 0px rgba(0,0,0,0.09), 0px 0px 1px 0px rgba(0,0,0,0.22)
	padding 40px 20px 20px
	margin 0 0 30px

table
	th,td
		padding 5px


.loading_block
	position relative
	&[data-loading-text]
		&:after
			background-position center calc(50% - 12px)
	&:before
		content ' 'attr(data-loading-text)' '
		position absolute
		top 50%
		left 50%
		text-align center
		z-index 101
		transform translate(-50%, 10px)
		font-size fzn - 2px
		color ctext
		text-shadow 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff
		width 80%

	&:after
		transition background-color .5s ease
		content ''
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background-color #fff
		background-image url(../images/loading.gif)
		background-repeat no-repeat
		background-position center
		background-size 24px 24px
		z-index 100

.info_text
	text-align center
	padding 80px 150px 120px
	.icon
		width 50px
		height 50px
		display inline-block
		margin 0 0 20px
		background url(../images/font_icons/info.svg) no-repeat 0 0
		background-size 100% auto
		opacity .2
	.title
		font-weight fwn
		font-size 20px
		margin 0 0 10px