article.page
	width 60%
	min-width 700px
	max-width 900px
	
.header_menu
	width calc(100% - 480px)
	text-align left
	margin-left 2vw
	li
		margin 0 1.5%

.page_content	
	&.content_padding
		padding-left 70px
		padding-right 70px

.page_bottom_panel
	padding-left 70px


