@import 'variables.styl'


// Сайдбар
.sidebar_title
	font-size 14px
	text-transform uppercase
	color #FFF
	opacity 0.5
	padding 0 16px 25px


// Секция контента
.widget_block
	padding-bottom 2px
		

// Таблица
.widget_block
	.table_row
		margin-left -20px
		margin-right -20px
		padding-left 20px
		padding-right 20px

// общие стили всех таблиц
.table_head
	font-size 12px
	color ctextlight
	margin-bottom 10px
.table_row
	border-bottom 1px solid cgrey09
	padding 7px 0
	&:last-child
		border none
	&.row_link
		cursor pointer
		&:hover
			background-color cbghighlight 
.table_row_search
	padding-bottom 7px
	
.table_head, .table_row
	display flex

// Таблица "Продукты"
	.product_id
		flex 0 0 15%
		min-width 150px
	.product_name
		flex 1 1 auto
		margin 0 16px
		overflow ellipsis 
	.product_price
		flex 0 0 120px
		text-align right

// Вкладка Модификаторы
.add_group
	display inline-block
	color cl2
	text-decoration none
	text-transform uppercase
	font-size 12px
	font-weight fwm
	margin-bottom 24px
	&::before
		font-size 8px
		vertical-align 0
		font-weight 600 !important
.modificators_group
	margin-bottom 24px
	&_title
		display inline-block
		margin-bottom 10px
		&.icon-pencil::before
			position absolute
			right -36px
			top 2px
.wrapper_modificator
	display flex
	flex-flow wrap
.modificator
	width 124px
	line-height 66px
	margin-bottom 4px
	margin-right 4px
	font-size 12px
	font-weight bold
	text-align center
	background cgrey09
	border-radius 2px
	cursor pointer
	&.selected
		background #ECF9FF
		border 1px solid #1C8BC6
	&:hover
		background #ECF9FF
	&.add_new_modificator
		font-size 26px
		font-weight 900
		
	
// Слой Добавление модификатора
.counter_wrapper
	display flex
	.count_ctrl
		color cgrey72
		font-size 18px
		font-weight bold
		line-height 42px
		text-align center
		width 32px
		text-decoration none
		background cgrey09
	input
		padding-left 10px
		padding-right 10px
		
.add_modificators_price
	width 104px




	