@import 'variables.styl'

.messenger
	position fixed
	bottom 0
	right 0
	top 60px
	z-index 4000
	width 420px
	background #fff
	box-shadow -4px 0px 30px rgba(cl1,0.25)
	&.hide
		display block!important
		animation pageHide .3s ease both
		pointer-events none

	&.open
		animation pageOpen .3s ease both

	&.ng-hide-add
		opacity 1
	&.ng-hide-add-active
		opacity 0
		transform translateX(150px)

	&.ng-hide-pxove
		opacity 0
		transform translateX(150px)
	&.ng-hide-pxove-active
		opacity 1
		transform translateX(0px)

	.fullsize
		.messenger_theme_list, .messenger_chat_container, .messenger_new_theme
			height calc(100vh - 40px - 42px)


// шапка чата
.messenger_header
	display flex
	justify-content center
	align-items center
	height 40px
	background cgrey03
	box-shadow 0 1px 0 cgrey09
	font-size 14px
	color ctextlight
	&_back
		position absolute
		left 0
		padding 12px
		color inherit
		text-transform none
		&::before
			margin-right 7px
			font-size 14px
		&::after
			display none
	&_title
		font-weight fwm
		text-transform uppercase
		margin-top 1px
		&.long
			text-align center
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			padding-left 90px
			padding-right 42px
		a
			transition color .1s
			text-decoration none
			&:hover
				color ctext
	&_action
		position absolute
		right 2px
		top -2px
		a[class*='icon-']
			margin-right 5px
			height 40px
			width 30px
			text-align center
			float right
			font-size 13px
			line-height 45px
			color ctextlight
			&:hover
				color ctext



// список всех тем
.messenger_theme_list
	height 100%
	overflow auto
	transition .3s
	-webkit-overflow-scrolling touch

.messenger_theme_item
	margin -1px 0 0
	clearfix()
	font-size fzn
	&:last-child
		.message_head
			border none
	// &:first-child
	// 	margin-top 8px


//
// 		NEW styles
//

.messenger_main
	height 100%

// Пустой список чатов
.messenger_theme_empty
	display flex
	align-items center
	justify-content center
	height 100%
	padding 0
	background none
	font-size fzn
	.we_help
		width 280px
		padding-top 80px
		text-align center
		background url(../images/chat_welcome.svg) no-repeat 50% 0
		background-size 70px 63px
		color cgrey18
		.title
			color inherit
			font-size 18px
			margin-bottom 20px


.we_help.icon-chat
	background none
	padding 0
	&::before
		margin 0 0 8px
		display block
		font-size 60px
		color cgrey09


// Новое сообщение
.messenger_footer
	text-align center
	&_buttons
		margin-bottom 16px
		.button
			float none
			width 45%

.messenger
	&_input
		background #FFF
		border-top 1px solid cgrey09
		padding 10px 0 8px
		text-align center
		.messenger_input_theme, .messenger_input_message
			display block
			width 100%
			border none
			box-shadow none
			padding-left 50px

		&_theme
			height 26px
			font-weight fwm
			padding-top 5px
			&::-webkit-input-placeholder
				font-weight fwm
			&::-moz-placeholder
				font-weight fwm
			&:-ms-input-placeholder
				font-weight fwm

		&_message
			padding-top 10px
			padding-right 75px
			&::-webkit-input-placeholder
				font-weight fwn
			&::-moz-placeholder
				font-weight fwn
			&:-ms-input-placeholder
				font-weight fwn

		.button_file_upload.icon-attach
			position absolute
			left 16px
			bottom 22px
			color #959595
			&:hover::before
				color ctext
			&::before
				font-size 20px

		.send_message
			position absolute
			bottom 14px
			right 4px
			color cl2
			background none
			font-size fzn
			padding 10px 15px
			border none
			cursor pointer
			// opacity 0



// Список чатов
.messenger_message
	display flex
	padding 14px 14px 0 20px
	text-decoration none
	.avatar_photo
		width 60px
		height 60px
		color #FFF
		font-size 25px
		text-align center
		padding 14px 0
		border-radius 50%
		box-sizing border-box
		background-size cover
	.message_head
		margin-left 10px
		padding-bottom 12px
		border-bottom 1px solid cgrey09
		width calc(100% - 68px)
		&:last-child
			border none
	.message_title
		font-size 14px
		font-weight fwm
		color #2B2E32
		margin-bottom 2px
	.message_fragment
		color ctextlight
		font-size 14px
		overflow hidden
		white-space nowrap
	.message_time
		display inline-block
		color cgrey36
		font-size 10px
		margin-right 4px
	.writing_now
		display inline-block
		color ctextlight
		[class*='icon-']
			display inline-block
			font-size fzn - 4px
			animation 1.5s writeNow infinite
			margin-right 10px
	.fade_end
		position absolute
		width 35%
		height calc(100% - 4px)
		top 2px
		right 0
		background linear-gradient(to right, transparent, #fff 60%)
		.new_messages
			position absolute
			top calc(50% - 12px)
			right 18px
			color #FFF
			background #8DC540
			border-radius 12px
			text-align center
			font-size 12px
			font-weight fwm
			padding 4px 8px

// Завершенные
.complete_messages
	padding-top 25px
	margin-top 25px
	border-top 2px solid #e8e8e8
	.divider
		position absolute
		top -17px
		left calc(50% - 64px)
		z-index 100
		display inline-block
		padding 5px 10px
		box-sizing border-box
		border 2px solid cgrey09
		border-radius 15px
		font-size 14px
		color #b3b3b3
		background #FFF
		cursor default
	.icon-check
		color #ccc
		margin-right 2px
	.messenger_theme_item
		opacity .5


// Добавить новый вопрос
.new_question
	color #fff
	text-align center
	padding 10px 20px
	.icon-new-question::before
		font-size 16px
		margin-right 8px


// Чат, переписка
.message
	padding 24px 14px 0 70px
	font-size 14px
	display flex
	flex-flow wrap
	&:last-child
		padding-bottom 20px
	&_avatar
		position absolute
		width 35px
		height 35px
		top 26px
		left 16px
		border-radius 50%
		box-sizing border-box
		background-size cover
	.avatar1
		background url(../images/chat_small_avatar1.jpg) no-repeat
	.avatar2
		background url(../images/chat_small_avatar2.jpg) no-repeat
	&_name
		margin-bottom 10px
		font-weight fwm
	&_time
		margin-left auto
		text-align right
		font-size 10px
		color ctextlight
	.attached_docs
		a
			color cl2
		span
			color cgrey36
			font-size 12px
	.typing_loader
		background #F2F2F2
		padding 6px 12px
		margin-top 5px
		border-radius 16px
		&_point
			display inline-block
			width 9px
			height 9px
			border-radius 50%
			margin 0 2px
			background #fff
			animation typing_loader_points 1s linear infinite
		.point02
			animation-delay .2s
		.point03
			animation-delay .4s
	&_quote
		display flex
		flex-flow wrap
		padding 10px
		padding-left 15px
		margin-bottom 10px
		background cgrey05
		border-left 2px solid cl2




// TMP
.messenger
	display flex
	flex-flow column
	&_header
		flex 0 0 auto
	&_main
		flex 1 1 auto
		overflow auto
	&_footer
		flex 0 0 auto




