@import 'nib'
@import 'variables.styl'

// окно разпознавание счетов на оплату по фото
.popup_payment_scan
	width 396px
	height 412px
	padding 0
	transition height .3s
	overflow hidden
	.popup_close
		&:before
			color #fff

	&.load

		.payment_scan_icon
			&:after
				animation paymentScannerB 2.5s infinite linear
			.scanner
				animation paymentScanner 2.5s infinite linear
		.scan_content_text
			transform translateX(-396px)

	&.success

		.payment_scan_header
			&:before
				opacity 1

		.payment_scan_icon
			background url(../images/icon_scan_doc_success.svg) no-repeat calc(50% + 8px) 0
			height 135px
			width 150px
			&:after, &:before, .scanner
				display none
		.scan_content_text
			transform translateX(-792px)



	.payment_scan_header
		background-image linear-gradient(135deg, #2CBDCA 0%, #0084CC 100%);
		color #fff
		height 188px
		padding 36px 0 0
		box-sizing border-box
		transition height .3s, padding-top .3s, background .5s
		text-align center
		&:before
			opacity 0
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-image linear-gradient(135deg, #BEDB5A 0%, #85C431 100%)
			transition opacity .4s


	.payment_scan_icon
		height 120px
		width 118px
		margin 0 auto
		&:before, &:after
			content ''
			position absolute
			top 0
			left 11px
			width 96px
			height 60px
			background url(../images/icon_scan_doc.svg) no-repeat center 0
			background-size cover
		&:before
			opacity .3
			height 120px

		.scanner
			// display none
			position absolute
			top calc(50% - 4px)
			width 100%
			height 8px
			background: #FFFFFF;
			box-shadow: 0 3px 7px 0 #FFFFFF;
			border-radius: 2px;
			transition top .3s
	.payment_scan_content
		display flex
		p
			margin 0
		h2
			font-weight fwm
			margin-bottom 16px
		.form_buttons
			margin-top 24px

	.scan_content_text
		padding 32px 50px 0
		text-align center
		box-sizing border-box
		width 100%
		flex 0 0 100%
		transition transform .4s

		&.load
			padding-top 68px