@import 'nib'
@import 'variables.styl'

.page
	&.page_serivce
		overflow-x hidden
		overflow-y visible
		.page_header
			background transparent
			box-shadow none
			border-bottom none
			width 70px
			.page_close
				top 20px
				left 30px

		// шапка услуг
		.page_serivce_header
			height 320px
			border-bottom none
			box-shadow none
			background cbglight
			padding 60px 0 0 75px
			box-sizing border-box
			.name
				font-size 50px
				font-weight fwl
				margin-bottom 10px
				.button
					height 32px
					line-height 31px
					margin-left 20px
					border none
					background-color cgrey09
					&.success
						background rgba(#000,0.08)
						color ctext
						opacity 1
						&:hover
							box-shadow none
							background rgba(#000,0.08)!important
							cursor default
							color ctext!important
			.slogan
				font-size 24px
				font-weight fwl
			.buttons
				margin-top 40px
				.button.success
					background rgba(#000,0.08)
					color ctext
					opacity 1
					&:hover
						box-shadow none
						cursor default
						background rgba(#000,0.08)
				.button_info
					display inline-block
					font-size fzn - 4px
					color ctextlight
					margin 0 0 0 20px
					top 5px
			&.fixed
				height 56px
				position absolute
				top 0
				left 0
				right 12px
				padding-top 13px
				z-index -30
				display block
				opacity 0
				transition .4s
				background #fff

				&.show
					display block
					opacity 1
					transition 0s
					z-index 30
					.name

						opacity 1
				.name
					font-size 28px
					opacity 0
					transition .4s
					margin-left -2px
			.photo_desc
				position absolute
				font-size fzn - 6px
				color rgba(ctext,.4)
				font-style italic
				bottom 30px
				right 230px

		// меню услуг
		.page_service_menu
			border-bottom 1px solid cbdlight
			background #fff
			padding 0 0 0 75px
			overflow hidden
			li
				float left
				margin-right 42px
				a
					font-size fzn - 2px
					text-transform uppercase
					display block
					height 50px
					line-height 50px
					text-decoration none
					color ctext
					cursor pointer
			&.fixed
				position absolute
				left 0
				right 12px
				top 56px
				z-index 20
				display none
				border-bottom none
				box-shadow -10px 4px 35px -10px rgba(#000,0.5)

				&.show
					display block

		// текстовая часть услуг
		.page_service_content
			position relative
			padding 45px 75px 0


		.page_service_container
			overflow auto
			position absolute
			top 0
			bottom 0
			right 0
			left 0

		.service_block
			margin-bottom 60px
			p
				margin-bottom 15px
			ul
				li
					margin-bottom 15px
					line-height 1.5
			figure
				margin 30px 0
				img
					border none
					flex 1 0 auto
				&.text_right
					display flex
					img

						margin-right 40px
				&.text_left
					display flex
					img
						margin-left 40px
				&.right
					float right
					margin-left 50px
					margin-top 0
				&.left
					float left
					margin-right 50px
					margin-top 0
			figcaption
				color ctextlight
				font-style italic
				margin-top 15px
				line-height 1.4

		.service_block_title
			margin-bottom 22px
			font-size 32px
			font-weight fwn
			letter-spacing .5px

		.block_filled
			margin 20px 0
			padding 30px 30px 25px
			background cbglight
			clearfix()
			clear both
			&.full
				margin 50px -75px
				padding 50px 75px 35px

		.service_activation_steps
			background cbglight
			overflow hidden
			display flex
			align-items stretch
			margin-bottom 30px
			&.steps3
				.item
					width 33.33%
			&.steps2
				.item
					width 50%
					padding-left 80px
					&:before
						font-size 54px
					&:nth-child(n+2)
						&:before
							left 30px
					&:first-child
						padding-left 65px
			.item
				padding-top 25px
				padding-bottom 15px
				padding-right 20px
				padding-left 55px
				&:after
					content ''
					width 52px
					height 100%
					position absolute
					top 0
					right -26px
					background url(../images/services/activation_step_arrow.svg) no-repeat center center
					background-size auto 110%
				&:before
					content '1'
					position absolute
					top 10px
					left 20px
					font-size 36px
					color #fff
					font-weight fwm
				&:nth-child(2n):before
					content '2'
				&:nth-child(3n):before
					content '3'
				&:first-child
					padding-left 50px
				&:last-child
					padding-right 25px
					&:after
						display none
				.item_title
					font-weight fwm
					font-size fzn + 2px
					margin-bottom 10px
					line-height 1.15
				.item_desc
					font-size fzn - 2px
					p
						line-height 1.4
						margin-bottom 10px

		.service_footer
			background cbglight
			padding 45px 75px 55px
			margin 60px -75px 0
			// text-align center
			span
				display inline-block
				margin 0 5px 0 30px

			.button.success
				background rgba(#000,0.08)
				color ctext
				opacity 1
				&:hover
					box-shadow none
					cursor default
					background rgba(#000,0.08)
			.button_info
				display inline-block
				font-size fzn - 4px
				color ctextlight
				margin 0 0 0 20px
				top 5px

		// таблица
		.service_table
			margin 20px 0 30px
			table
				width 100%
			.name
				// color clserv
				font-weight fwb
			td
				padding 12px 25px
				&:first-child
					padding-left 0
					border-left none
				&:last-child
					padding-right 0
					border-right none


	// интернет эквайринг
	&.page_service_internet_acquiring

		clserv = #2D71AF
		clservbg = #DAF5FD
		clservgrad = linear-gradient(135deg, #C3F8FA 0%, #74C7ED 100%)

		a.link
			color clserv

		.page_serivce_header
			background: #FFFFFF;
			background-image: url('../images/services/header_back_internet_acquiring.png'), clservgrad
			background-size  278px 291px, 100% 100%
			background-position 102% bottom, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				color clserv

		// Деньги приходят за день
		.block_ia_1
			ul
				background url(../images/services/ia_img5.png) no-repeat 0 0
				background-size 22px 103px
				padding-left 32px
				margin-left 20px
			li
				margin-bottom 16px!important
				// &:after
				// 	content '↓'
				// 	display block
				// 	margin 3px 0 8px 100px
				// 	color ctextlight
				// &:last-child
				// 	&:after
				// 		display none

		// Продает, что можно потрогать и что нельзя
		.block_ia_2
			.right_block
				float right
				width 160px
				margin 0 20px 0 100px
				font-size fzn - 2px
				color clserv
				p
					margin 0
					line-height 1.2
				.big
					font-size 32px
					margin 0
				.small
					font-size fzn - 4px
					color ctextlight
					margin-top 8px

		// таблица сравнения
		.block_ia_3
			.table_price
				margin 40px -75px
				.row
					clearfix()
					&:nth-child(2n + 1)
						background cgrey03
				.cell
					width 50%
					float left
					padding-top 10px
					padding-bottom 10px
					padding-left 75px
					padding-right 40px
					box-sizing border-box
					&+.cell
						float right
						padding-right 75px
						padding-left 40px
				.row.logo
					background none
				.row.name
					font-weight fwm
					small
						display block
						font-size fzn - 2px
					.cell
						padding-bottom 15px

	// интернет эквайринг
	&.page_service_torg_acquiring

		clserv = #4E66CD
		clservbg = #E8ECFE
		clservgrad = linear-gradient(135deg, #DDEDFF 0%, #C2C6F5 100%)

		a.link
			color clserv

		.page_serivce_header
			background-image: url('../images/services/ta_header_back.png'), clservgrad
			background-size  196px 290px, 100% 100%
			background-position 85% bottom, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				color clserv

		.price_table
			table
				width auto
				background none
				border none
				margin 0 -75px
			tr:nth-child(2n + 4)
				background cgrey03
			td
				border none
				font-size fzn - 2px
				padding 15px 10px
				&:first-child
					padding-left 75px
				&:last-child
					padding-right 75px
				&.name
					font-weight fwb
			.header
				td
					font-weight fwb
					background cgrey03
					font-size fzn - 3px
					text-align center
			.price
				td
					font-size fzn
					font-weight fwb
					padding-top 25px



	// валютный контроль
	&.page_service_currency_control

		clserv = #8041CB
		clservbg = #F3ECF9
		clservgrad = linear-gradient(-45deg, #D9B7EE 0%, #FFDBF0 100%)

		a.link
			color clserv

		.page_serivce_header
			background-image: url('../images/services/vk_header_back.png'), clservgrad
			background-size  250px auto, 100% 100%
			background-position 100% bottom, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				color clserv

		.block_vk_2
			.right_block
				width 94px
				float right
				color clserv
				font-size 24px
				text-align center
				line-height 1
				padding-bottom 20px
				&:before
					content ''
					position absolute
					left 0
					bottom 0
					width 94px
					height 94px
					background clservbg
					border-radius 100px
					z-index -1
				.num
					font-size 75px
					font-weight fwl
					display block
		.block_vk_3
			overflow hidden
			.left
				float left
				margin-right 60px
			.right
				float left

	// бухгалтер
	&.page_service_accountant

		clserv = #DD602E
		clservbg = #FFF5CE
		clservgrad = linear-gradient(-45deg, #FFBC64 0%, #FFFDBE 100%)

		a.link
			color clserv

		.page_serivce_header
			background-image: url('../images/services/bip_header_back.png'), clservgrad
			background-size  240px auto, 100% 100%
			background-position 98% bottom, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				color clserv

		.right_block
			float right
			font-weight fwm
			color clserv
			line-height 1.2
			min-width 140px
			.num
				font-size 32px
				font-weight fwl



	// зарплата
	&.page_service_payroll

		clserv = #0D9943
		clservbg = #E3FCD8
		clservgrad = linear-gradient(135deg, #D8FFC3 0%, #53D793 100%)

		a.link
			color clserv

		.page_serivce_header
			background-image: url('../images/services/pr_header_back.png'), clservgrad
			background-size  230px auto, 100% 100%
			background-position 98% bottom, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				color clserv

	// касса
	&.page_service_modulpos

		clserv = #93B500
		clservbg = #EEFECE
		clservgrad = linear-gradient(135deg, #E1F5C4 0%, #E9EB92 63%, #EDE574 100%)

		a.link
			color clserv - 30%

		.page_serivce_header
			background-image: url('../images/services/mp_header_back.png'), clservgrad
			background-size  330px auto, 100% 100%
			background-position 98% 70%, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				// color clserv - 20%

		.price_table
			table
				width calc(100% + 150px)
				background none
				border none
				margin 0 -75px
				table-layout fixed
			tr:nth-child(2n + 1)
				background cgrey03
			td
				border none
				font-size fzn
				padding 15px 10px

				&:first-child
					padding-left 75px
					text-align left
				&:last-child
					padding-right 75px
				&.name
					font-weight fwb
			.header
				td
					font-weight fwb
					font-size fzn
			.price
				td
					font-size fzn
					font-weight fwb
					padding-top 25px

		.block_mp_6
			figure
				height 190px
				display block
				display flex
				align-items center
				img
					flex 0 0 50%
			h2
				font-weight fwm
				margin-bottom 10px
			ul
				margin 20px 0
				min-height 120px
				li
					margin-bottom 5px
			.price
				font-weight fwb
				font-size fzn + 2px
			.price_old
				font-weight fwn
				color ctextlight
				margin-top 4px
			.price_desc
				font-weight normal
				font-size fzn - 2px
				margin-top 8px


	// страховки
	&.page_service_insurance

		clserv = #009E7C
		clservbg = #EEFECE
		clservgrad = linear-gradient(135deg, #D9FFE3 0%, #7ED5D5 100%)

		a.link
			color clserv - 30%

		.page_serivce_header
			background-image: url('../images/services/ins_header_back.png'), clservgrad
			background-size  250px auto, 100% 100%
			background-position 98% 40px, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				// color clserv - 20%

	// деопзиты
	&.page_service_deposits

		clserv = #E45B4C
		clservgrad = linear-gradient(135deg, #FFE2D9 0%, #FD9184 100%)

		a.link
			color clserv - 30%

		.page_serivce_header
			background-image: url('../images/services/dep_header_back.png'), clservgrad
			background-size  280px auto, 100% 100%
			background-position 98% 15px, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad

		.service_table
			.name
				// color clserv - 20%

	// овердрафт
	&.page_service_overdraft

		clserv = #009CA0
		clservgrad = linear-gradient(135deg, #CBF3F3 0%, #57D2D5 100%)
		clservbg = #E3F8F9
		a.link
			color clserv - 30%

		.page_serivce_header
			background-image: url('../images/services/over_header_back.png'), clservgrad
			background-size  260px auto, 100% 100%
			background-position 95% 15px, 0
			background-repeat no-repeat
			.name
				.button:hover:not(.loader)
					background-color clserv
					color #fff
		.button:not(.light)
			background-color clserv
			&:hover:not(.loader)
				background-color clserv + 10%
		.page_service_menu
			a.active
				box-shadow inset 0 -5px 0 -2px clserv

		.block_filled
			background clservbg
		.block_activation
			.service_activation_steps
				background clservgrad
		.quot
			background clservbg
			border-left 5px solid clserv
			padding 20px 20px 5px 30px
			font-style italic
			font-size fzn - 1px


// Список услуг в настройках
.settings_services_list
	.title
		font-weight fwm
		text-transform uppercase
		border-bottom 2px solid cbdlight
		padding-bottom 5px
	ul
		margin-bottom 20px
	li
		&:last-child
			a:after
				display none
		a
			display block
			padding 18px 0 18px 80px
			text-decoration none
			color ctext
			position relative
			background-position 10px center
			background-repeat no-repeat
			background-size 54px
			&:hover
				background-color cgrey03
			&:after
				content ''
				height 1px
				position absolute
				left 80px
				right 0
				bottom 0
				background cbdlight
			&.active
				&:before
					content ''
					width 16px
					height 16px
					position absolute
					top 50px
					left 47px
					background url(../images/icon_check_solid.svg) no-repeat 0 0

		.name
			font-size fzn + 2px
			margin 0 0 2px
			display block
		.desc
			font-size fzn - 2px
			color ctextlight

	.buh
		background-image url(../images/icon_set_serv_buh.svg)
	.b365
		background-image url(../images/icon_set_serv_b365.svg)
	.payroll
		background-image url(../images/icon_set_serv_payroll.svg)
	.control
		background-image url(../images/icon_set_serv_control.svg)
	.deposit
		background-image url(../images/icon_set_serv_deposit.svg)
	.kassa
		background-image url(../images/icon_set_serv_kassa.svg)
	.torg_acquire
		background-image url(../images/icon_set_serv_torg_acquire.svg)
	.inet_acquire
		background-image url(../images/icon_set_serv_inet_acquire.svg)
	.insurance
		background-image url(../images/icon_set_serv_insurance.svg)
	.overdraft
		background-image url(../images/icon_set_serv_overdarft.svg)
	.law
		background-image url(../images/icon_set_serv_law.svg)