@import 'nib'
@import 'variables.styl'

.section_transaction
	background #fff
	position absolute
	left 0
	top 0
	width 100%
	height 100%
	overflow-x hidden
	overflow-y auto
	-webkit-overflow-scrolling touch

.transaction_accounts
	background cbglight
	padding 25px 25px 40px
	border-bottom 3px solid cseparator

// вабор валюты наверху
.transaction_currency_filter
	padding 18px
	margin 0 0 15px
	.label_filter
		margin 0 15px
	.currency_filter
		text-decoration none
		display inline-block
		font-size fzn + 2px
		color clink
		.count
			display inline-block
			border-bottom 1px dashed @color
		&:hover
			color cl2
			.count
				border-bottom-color cl2
	.currency_filter_disabled
		color ctextlight
		.count
			border-color @color
		.cur
			color @color

	.input_filter
		&:checked + .label_filter
			.currency_filter
				color ctextsuccess
				font-weight normal
				.count
					border-bottom 2px solid ctextsuccess + 5%

	// овердрафт ссылка наверху
	.overdraft_count
		float right
		color ctextlight
		font-size fzn - 2px
		margin 3px 0 0
		a
			color ctextlight
			text-decoration none
			.cur
				color @color
			&:hover
				color cl2
				.cur
					color @color

	.currency_filter_right
		float right
		margin -4px 0 0




// контент в транзакциях
.transaction_content
	background #fff
	padding 40px 25px
	clearfix()

// блок итого в транзакциях
.transaction_total
	background cl5 + 85%
	padding-bottom 10px

	.title
		font-size fzn + 2px
		padding 0 0 10px
		border-bottom none
	.transaction_total_filter
		float right
		font-size fzn - 2px
		@media (max-width:1090px)
			float none
			margin-top 10px
	.col
		width auto
		max-width 350px
		margin 0
	.total_poperty, .total_value
		display inline-block
		box-sizing border-box
		white-space nowrap
	.total_poperty
		width 200px
		text-align right
		padding-right 10px
		font-size fzn - 2px
		color ctextlight
	.money_expense
		color ctexterror
		.cur
			color @color

// просмотр счета
.account_card
	padding 25px
	margin-bottom 30px
	clearfix()

.account_card_money
	float left
	font-size 42px
	margin 0 0 20px
	font-weight fwl
	.light_text
		font-size fzn - 2px
		display block
		font-weight normal
	.account_card_actions
		font-size fzn
		font-weight normal
	.account_card_money_hold
		font-size fzn
	.form_group_list
		font-size fzn
		font-weight normal


.account_card_money_detail_anim
	// height 0
	// transition height .3s, padding .3s
	// overflow hidden
	clear both
	margin 0 -25px
	// &.ng-hide
	// 	display block!important
	// &.show
	// 	height 69px
	// 	padding 10px 0 0

.account_card_money_detail
	padding 15px 25px
	background cbgsky - 5%
	clear both
	box-sizing border-box

	&:before
		content ''
		position absolute
		bottom 100%
		left 50px
		border 10px solid transparent
		border-bottom-color cbgsky - 5%
	.item
		display inline-block
		margin-right 30px
		&[class*="icon-round"]
			padding-left 45px
			&:before
				position absolute
				top 10px
				left 0
		&.icon-round-minus
			&:before
				color ctextdanger
		&.icon-round-plus
			&:before
				// display none
				color ctextsuccess
		// &.overdraft
		// 	margin-left 30px
	.title
		font-size fzn - 4px
		color ctextlight
	.value
		font-size fzn + 2px

.account_card_info
	overflow hidden
	float right
	width 50%

.account_card_money_dop_serv
	background #fff
	padding 20px 25px
	margin 0 -25px
	border-top 1px solid cbdlightsky
	border-bottom 1px solid cbdlightsky
	clear both
	.title
		margin 0 0 10px
		font-size fzn + 2px
	.col.seven:nth-child(2)
		border-left 1px solid cbdlight
		padding-left 40px
		margin-left 0
	.form_group_list:last-child
		margin-bottom 0

.account_card_actions
	clear both
	overflow hidden
	margin 20px 0 0
	a
		margin-right 20px

.account_details_actions
	float right
.share_actions
	a
		color clinklight
		display inline-block
		vertical-align middle
		margin-right 10px
		&:before
			font-size fzn + 2px
			vertical-align middle
		&:hover
			&:before
				color cl2
		// &.icon-save
		// 	&:before
		// 		font-size fzn
		// &.icon-mail-sent
		// 	&:before
		// 		font-size fzn + 6px
	&.share_big
		a
			&:before
				font-size fzn + 8px
			// &.icon-save
			// 	&:before
			// 		font-size fzn + 6px
			// &.icon-mail-sent
			// 	height auto
			// 	&:before
			// 		font-size fzn + 12px


// описание транзакции
.transaction_view_info
	overflow hidden
	margin-bottom 30px
	.transaction_view_info_money
		float left
.transaction_view_info_money
	font-size 40px
	margin-right 30px
	font-weight fwl
	.light_text
		font-size fzn
.transaction_view_info_account
	font-size fzn + 2px
	font-weight fwl
	padding 2px 0 0

.transaction_view_info_connect
	position absolute
	right 0
	top 3px

.transaction_view_exchange
	.col
		// width auto
		width 45%
		float left
		&:first-child
			padding-right 7%
	.transaction_view_info_account
		margin-bottom 10px
		font-size fzn
	.transaction_view_info_money
		font-size 32px
		margin-right 0

	.from_account, .to_account
		overflow visible
		&:after
			content '→'
			position absolute
			right 5%
			top 0px
			font-size 30px
			color ctextlight + 30%
	.to_account
		&:after
			content '←'




.transaction_view_contragent
	padding 25px 30px
	min-height 45px
	word-wrap break-word
	&>.name
		font-weight normal
		font-size fzn + 3px
		margin-bottom 20px
		.transaction_status_stamp
			top 100%
			// top 0
			right 0
	.transaction_view_contragent_appointment
		margin 30px -30px -25px
		padding 20px 30px
		border-top 1px solid cbdlightsky
		background #fff
		color ctextlight
		font-style italic
		word-break break-word
	.transaction_view_name
		margin -25px -30px 30px
		padding 20px 30px
		border-bottom 1px solid cbdlightsky
		background #fff
		font-size fzn + 2px
		font-weight fwm
		&~.transaction_status_stamp
			top 120px


.stamp_padding
	margin-right 150px

// печать статуса
.transaction_status_stamp, .status_stamp
	position absolute
	right 20px
	top 20px
	display inline-block
	padding 6px 15px
	border 4px solid ctextwarning
	font-weight bold
	text-transform uppercase
	font-size fzn - 2px
	transform rotateZ(-8deg)
	text-align center
	opacity .66
	color ctextwarning
	&.success
		border-color ctextsuccess
		color ctextsuccess
	&.error
		border-color cerror
		color cerror
	&.primary
		border-color cl2
		color cl2
	&.grey
		border-color cgrey50
		color cgrey50
	&.warning
		border-color ctextwarning
		color ctextwarning
	.date
		display block
		font-size fzn - 5px
		font-weight fwm

.transaction_view_contragent_table
	margin 30px -30px -25px

// текущие требования - transaction/transaction_current_requipxents.html

.current_requirements
	overflow hidden
	.title
		color ctextlight
		margin 0 0 2px
		font-size fzn - 4px
		border-bottom 2px solid cseparator
		padding-bottom 5px
		display inline-block
	.current_requirement_to_pay
		float left
		.title
			font-size fzn - 2px
		.summ
			font-size 40px
			font-weight fwl
			white-space nowrap
	.current_requirement_summ,
	.current_requirement_paid
		float right
		margin 12px 25px 0 25px
		.summ
			font-size fzn
			white-space nowrap
			margin-top 5px
			font-size fzn + 2px


// список выписок по расписанию
.statement_schedule_list
	background cbgsky
	border 1px solid cbd
	border-radius brbut
	.item
		border-bottom 1px solid cbd
		overflow hidden
		display flex
		justify-content space-between
		border-radius brbut
		&:last-child
			border-bottom none
		&:hover
			background #fff
	.item_link
		padding 12px 0 12px 15px
		flex 1 1 100%
		color ctext
		text-decoration none
	.item_delete
		flex 0 0 40px
		text-align center
		display flex
		align-items center
		justify-content center
		color ctextlight
		&:before
			margin 0
		&:hover
			color cerror

.statement_schedule_empty
	font-size fzn - 2px
	color ctextlight
	padding 0
	// background cbgsky
	.icon-date
		font-size 18px
		margin-right 2px
		vertical-align middle



